Terminal_Program/sheets_credentials.json
Terminal_Program/token.json
Terminal_Program/Testing/
Terminal_Program/config.py
Desktop_App/node_modules/
Desktop_App-v2/node_modules/
Desktop_App-v2/py/testing/
Desktop_App-v2/testing/
Terminal_Program/__pycache__/
Desktop_App-v2/py/.env
Desktop_App-v2/py/.venv